<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Linkedin EasyApply</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Linked IN Easy Apply Bot</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('start_applying')}}"method="post">
    	<input type="text" name="email" placeholder="Email" required="required" />
      <input type="text" name="password" placeholder="Password" required="required" />
		

        
      <button type="submit" class="btn btn-primary btn-block btn-large">Start Application</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
